<div class="p-4"> 
    @for (row of formService.rows(); track row.id) { 
        <div 
        cdkDropList 
        (cdkDropListDropped)="onDropInRow($event,row.id)" 
        class="p-5bg-white rounded-1g border-2 border-dashed border-gray-200" 
        >
        <div>Row</div> 
        <div class="flex gap-4 flex-wrap"> 
            @for (field of row.fields; track field.id) { 
              <app-form-field class="flex-1" [field]="field" />
            }
        </div>
    </div>
    }
    </div>