<div class="p-4"> 
    @for (row of formService.rows(); track row.id) { 
        <div 
        cdkDropList 
        [cdkDropListData]="row.id"
        (cdkDropListDropped)="onDropInRow($event,row.id)" 
         [cdkDropListOrientation]="'mixed'"
        class=" mb-4 p-5bg-white rounded-1g border-2 border-dashed border-gray-200" 
        >
        <div class="flex justify-between items-center"> 
<span>Row</span> 
<button mat-icon-button (click)="formService.deleteRow(row.id)"> 
<mat-icon>close</mat-icon> 
</button> 
</div>
        <div class="flex gap-4 flex-wrap"> 
            @for (field of row.fields; track field.id) { 
              <app-form-field cdkDrag [cdkDragData]="field" class="flex-1" [field]="field" />
            } @empty { 
<div 
class="w-full p-4 border border-dashed border-primary-container">
Drag and drop form elements here 
</div>
}
            
        </div>
    </div>
    }
    </div>