<div class="p-4bg-white rounded-1g h-[calc(100vh-150px)] overflow-y-auto overflow-y-auto border-gray-200 shadow-sm"> 
    <div class="pb-4 border-b border-gray-200 flex gap-2 items-center"> 
        <h3 class="text-xl font-semibold">Form Canvas</h3> 
        <mat-button-toggle-group [(value)]="activeTab" hideSingleSelectionIndicator="true"> 
<mat-button-toggle value="editor">Editor</mat-button-toggle> 
<mat-button-toggle value="preview">Preview</mat-button-toggle> 
</mat-button-toggle-group>
<div class="flex-1"></div>
@if (activeTab() === 'editor') 
{ 
<button mat-flat-button (click)="formService.addRow()"> 
Add Row 
<mat-icon>add_circle</mat-icon> 
</button> 
}
        </div> 
       @if(activeTab() === 'editor') { 
<app-form-editor /> 
} @else { 
    <app-form-preview/>
}

</div>
